################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
*.sln.docstates
/.vs

# Build results
[Bb]in/
[Oo]bj/